# pnpm 需提升 electron，否则易出现 Electron uninstall
public-hoist-pattern[]=electron
public-hoist-pattern[]=electron-vite

# 允许 electron 执行 postinstall 下载二进制
onlyBuiltDependencies[]=electron

# 国内下载慢可取消下行注释
# electron_mirror=https://npmmirror.com/mirrors/electron/
